/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

#form-book-details {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

label {
  padding-top: 0.5rem;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.book-card {
  width: 280px;
  height: 340px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  background-color: #f4f1ea;
}

input {
  padding: 0.2rem 0.4rem;
}

.book-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.book-card-review {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 1rem 0;
  padding-right: 1rem;
}

.book-card-page-count {
  align-self: flex-end;
  position: absolute;
  bottom: 1rem;
}

nav {
  display: flex;
  padding: 1rem;
  color: white;
  background-color: black;
}

.new-book-card {
  width: 280px;
  height: 340px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
}

.new-book-card > button {
  background-color: transparent;
  border: 0;
  border-radius: 100px;
  width: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  color: lightgray;
  transition: all 100ms ease-in-out;
}

.new-book-card > button:focus {
  outline: none;
  box-shadow: none;
}

.new-book-card > button:hover {
  color: black;
}

dialog {
  margin: auto;
  border: 0;
  border-radius: 5px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.391);
}
